html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #0b44699f;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  padding: 0rem;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
}