.header {
    background-color: #088ae0;
    color: #111111;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .header nav ul li {
    margin: 0 1rem;
  }
  
  .header nav ul li a {
    color: #111111;
    text-decoration: none;
    
  }