/* src/components/SettingsPage.css */

.settings {
  text-align: center; /* Center align the content inside .settings */
}

.youtube-thumbnail-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Adjust spacing as needed */
}

.youtube-thumbnail {
  max-width: 100%; /* Ensure the thumbnail doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}
